.graph_center {
  align-self: center;
  align-content: center;
}

.leaderboard {
  background-color: #F0F8FF;
  font-size: 1.2rem;
}

.leaderboard > div {
  padding: 10px 0px;
  margin: 0px;
  border-top: 1px solid #DDDDDD;
}

.leaderboard > div:nth-child(n+2) > div:nth-child(2) {
  text-align: left;
}

.tooltip_box {
  height: 2rem;
  margin-top: -20px;
}