.profilePic {
  width: 20px;
  height: 20px;
}

.card {
  width: 20rem;
  max-width: 100%;
  height: 100%;
  cursor: pointer;
  text-align: left;
  text-overflow: wrap;
  font-size: 14px;
}

.title {
  padding: 0;
  padding: 0;
  display: inline-block;
}

.littlestats {
  padding: 0px 15px 0px 15px;
}

.octicon {
  margin-right: 5px;
}
